@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-saira: "Saira", sans-serif;
}

@layer base {
  body {
    @apply relative font-saira;
  }
}

@layer utilities {
}
