@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-saira: "Saira", sans-serif;
  --color-primary: var(--color-blue-600);
}

@layer base {
  body {
    @apply relative font-saira bg-white dark:bg-gray-900;
  }
}

@layer utilities {
  .user-icon {
    @apply w-8 h-8 relative;
  }

  .user-icon img {
    @apply w-full h-full rounded-full;
  }

  .user-icon span {
    @apply absolute bottom-0 right-0 p-0.5 rounded-full bg-white flex items-center justify-center after:bg-green-600 after:p-1 after:rounded-full;
  }

  /* Sidebar */

  .nav-icon {
    @apply rounded-full cursor-pointer w-8 h-8 flex items-center justify-center;
  }

  .nav-icon svg {
    @apply w-4 h-4;
  }

  /* auth form */

  .auth-form-container {
    @apply flex flex-col w-full lg:w-[500px];
  }

  .auth-sub-title {
    @apply mb-1.5 font-medium text-base text-gray-600 dark:text-gray-400;
  }

  .auth-title {
    @apply mb-9 text-4xl sm:text-6xl font-bold text-black dark:text-white;
  }

  .form-input {
    @apply flex flex-col mb-4;
  }

  .form-input label {
    @apply text-base text-black dark:text-white font-medium capitalize mb-2.5;
  }

  .form-input div {
    @apply relative;
  }

  .form-input input {
    @apply py-4 pl-6 pr-10 w-full text-base text-black dark:text-white outline-none focus:border-blue-600 placeholder:text-gray-600 dark:placeholder:text-gray-400 border border-gray-600 dark:border-gray-400 rounded-md;
  }

  .form-input svg {
    @apply absolute right-4 top-4 w-5 text-gray-600 dark:text-gray-400;
  }

  .auth-link {
    @apply text-base text-gray-600 dark:text-gray-400 text-center;
  }

  .auth-link a {
    @apply text-blue-400 ml-1;
  }

  /* buttons */

  .button-1 {
    @apply w-full cursor-pointer border border-primary bg-primary p-4 rounded-lg text-white transition hover:bg-primary/90 font-medium mt-2 mb-5;
  }
}
