*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-color-1: #1F1F22;
  --bg-color-2: #1A1A1E;
  --bg-color-3: #26272D;
  --bg-color-4: rgba(126,18,241,1);
  --bg-color-5: rgba(238,29,232,1); 
  --bg-color-6: #000000;
  --text-color-1: rgb(255, 255, 255);
  --text-color-2: rgb(119, 119, 119);
  --button-color-1: linear-gradient(90deg, var(--bg-color-4) 45%, var(--bg-color-5) 100%);
  --button-shadow: var(--bg-color-2);
  --red-color: #f81818;
  --red-color-disabled: #fa4646;
  --white-color: #fff;
}

.stop-resize-animation *{
  transition: none !important;
  animation: none !important;
}

body{
  background-color: rgb(22, 21, 21) !important;
}


.text-1{
  color: var(--text-color-1) !important;
}

.text-2{
  color: var(--text-color-2) !important;
}

.input-1{
  background-color: var(--bg-color-3) !important;
  color: var(--text-color-1) !important;
}

.input-1::placeholder{
  color: var(--text-color-2) !important;
}

.form-container{
  background-color: var(--bg-color-2);
}

.container-cl{
  background-color: var(--bg-color-1);
  z-index: 100;
}

.container-cr{
  background-color: var(--bg-color-2);
}

.profile-avatar{
  width: 35px;
  height: 35px;
  background-position: center center;
}

.list-group-item{
  border: none !important;
  border-bottom: 1px solid var(--bg-color-3) !important;
}

.list-group-item:hover{
  background-color: var(--bg-color-3) !important;
}

.ellipses{
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}


.list-group::-webkit-scrollbar{
  width: 4px;
}

.list-group::-webkit-scrollbar-track{
  background-color: var(--bg-color-3);
}

.list-group::-webkit-scrollbar-thumb{
  background-image: var(--button-color-1);
}

.btn-groups > button{
  background-image: var(--button-color-1);
}

.active-chat-header{
  border-bottom: 1px solid var(--bg-color-3);
}

.message:first-of-type{
  margin-top: auto !important;
}

.text{
  background-color: var(--bg-color-3);
  border-radius: 8px 8px 8px 0;
}

.owner .text{
  background-image: var(--button-color-1);
  border-radius: 8px 8px 0 8px;
}

.blocked-message{
  background-color: var(--bg-color-3);
}

aside{
  position: absolute !important;
  right: 0;
  bottom: 60px;
}

.dialog-box .modal-content{
  background-color: var(--bg-color-1);
}

.dialog-box .list-group-item{
  background-color: transparent;
}

.members::-webkit-scrollbar{
  height: 4px;
}

.members::-webkit-scrollbar-track{
  background-color: var(--bg-color-3);
}

.members::-webkit-scrollbar-thumb{
  background-image: var(--button-color-1);
}

.settings-header, .settings-nav{
  background-color: var(--bg-color-1);
}

.settings-content{
  background-color: var(--bg-color-2) !important;
}

.nav-pills .active{
  background-color: var(--bg-color-2) !important;
}


@media screen and (max-width: 992px) {
  .container-cl{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
}

@media screen and (max-width: 480px) {
  aside{
    right: -70px;
  }
}


.container-cl-active{
  transform: translateX(0);
}